    <!-- HEADER -->
<header class="inner">

      <h1 id="project_title">{{ page.title }}</h1>

      <h2>GCC 2015</h2>
      <ul>
      	<li><a href="https://dl.dropboxusercontent.com/u/226794/github/GCC%202015%2007062015.pdf">Conceptual Overview</a></li>
      	<li><a href="https://dl.dropboxusercontent.com/u/226794/github/GCC2015Documentation.pdf">Tutorial Documentation</a></li>
      </ul>

      <p class="view"><a href="https://github.com/galaxyproteomics/tools-galaxyp/tree/master/tools/peptideshaker">Contribute to project development by filing a bug or submitting a pull request on GitHub</a></p>

      <p class="view"><a href="https://toolshed.g2.bx.psu.edu/view/galaxyp/peptideshaker">Install on the Galaxy toolshed</a></p>

      <p class="view"><a href="https://github.com/iracooke/LearnGalaxyProteomics/wiki/TutorialPeptideShaker">Learn how the tools work by checking out this tutorial</a></p>

</header>


